
<div class="chatroom" style="background-color: white;">
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
  <div class= "message_navbar">
   <%= link_to image_tag "back_icon.png" %>
  <h1><%= @chatroom.flat_owner.user_name %></h1>
  </div>

  <div class="container messages" data-chatroom-subscription-target="messages">
  <div class="messages">
    <% @chatroom.messages.each do |message| %>
    <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
      <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
       <%= render "messages/message", message: message %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="wrapper" style="background-color: white;">
  <div id="footer-goes-here">
    <% if current_user == @chatroom.flat_owner %>
     <% if @chatroom.booking.status == nil %>
       <%= link_to "Confirm Offer", pending_path(booking: @chatroom.booking, chatroom: @chatroom), method: :post, status: :see_other, class: "btn btn-warning btn-lg mb-3 button_Accept_Offer" %>
      <% else %>
       <button type="button" class="btn btn-warning btn-lg mb-3 button_Accept_Offer" disabled>Confirm Offer</button>
      <% end %>
    <% else %>
      <% if @chatroom.booking.status == nil %>
       <button class="btn btn-warning btn-lg mb-3 button_Accept_Offer" type="button" disabled>Accept Offer</button>
      <% elsif @chatroom.booking.status == "pending" %>
       <%= link_to "Accept Offer", confirm_path(booking: @chatroom.booking, chatroom: @chatroom), method: :post, status: :see_other, class: "btn btn-warning btn-lg mb-3 button_Accept_Offer" %>
      <% elsif @chatroom.booking.status == "confirmed" %>
        <button class="btn btn-warning btn-lg mb-3 button_Accept_Offer"type="button" disabled>Confirmed</button>
      <% end %>
    <% end %>
  </div>

  <div id="content-goes-here">
    <%= simple_form_for [@chatroom, @message],
    html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
    %>
      <%= f.input :content,
        label: false,
        placeholder: "Message ##{@chatroom.name}",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <div>
        <%= f.submit ">", class: "btn btn-primary mb-3 button_send" %>
      </div>
    <% end %>
  </div>
</div>
