<h1><%= @offer.title %></h1>
<h1><%= @offer.user %></h1>
<h1><%= @offer.description %></h1>
<h1><%= @offer.pet %></h1>
<h1><%= @offer.start_date %></h1>
<h1><%= @offer.end_date %></h1>
<%= link_to "back to all offers", offers_path%>
